@import url('../static/noto/stylesheet.css');
@import url('../static/archyedt-bold/stylesheet.css');

$mdi-font-path: '~@mdi/font/fonts';
@import '~@mdi/font/scss/materialdesignicons';

@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

$family-headings: "ArchyEDT-Bold", sans-serif;
//$family-primary: 'Noto Serif Georgian', 'Noto Sans Georgian', 'Noto Sans', 'Roboto', sans-serif;
$primary: #ffb2a4;

$footer-padding: 1.5rem;

@import '~bulma/bulma';

html, body {
    height: 100%;
}

html {
    // background: url(/img/peach.jpg) no-repeat center center fixed;
    background: #ffb2a4;
    background-size: cover;
}

.page-enter-active, .page-leave-active {
    transition: opacity .2s;
}
.page-enter, .page-leave-to {
    opacity: 0;
}

.page-container {
    background: white;
}

.promo-box {
    background-size: 100% auto;
    background-size: cover;
    cursor: pointer;
    height: 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;

    .promo-box-content {
        flex-grow: 0;
        color: white;
        padding-bottom: 2em;
        background-image: linear-gradient(rgba(34,34,34,0), rgba(34,34,34,0.9));

        .title {
            color: white;
        }

        .subtitle {
            color: white;
        }
    }

    &:hover .promo-box-content {
        background-image: linear-gradient(rgba(34,34,34,0), rgba(99,99,99,0.9));
    }
}

// Stupid Bulma
.tile.is-vertical > .tile.is-child:not(:last-child) {
    margin-bottom: 0 !important;
}

.tile.is-parent {
    padding: 0;
}

.tile.is-child {
    padding: 5px;
}

.tile iframe {
    width: 100%;
    height: 100%;
}

.youtube-embed {
    position: relative;
    height:0;
    padding-bottom: 56.25%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.has-text-white {
    strong {
        color: white;
    }
}