@import url("../static/noto/stylesheet.css");

$mdi-font-path: "~@mdi/font/fonts";
@import "~@mdi/font/scss/materialdesignicons";

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

@import "~quill/dist/quill.core";
@import "~quill/dist/quill.snow";

@import "./flex.scss";

//$family-primary: 'Noto Serif Georgian', 'Noto Sans Georgian', 'Noto Sans', 'Roboto', sans-serif;
//$primary: #ffb2a4;

$footer-padding: 1.5rem;
$navbar-item-hover-color: black;
$navbar-dropdown-arrow: black;
$navbar-dropdown-item-active-color: black;

@import "~bulma/bulma";

.fb-comments iframe {
  width: 100% !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item::before,
.ql-snow .ql-picker.ql-size .ql-picker-label::before {
  content: attr(data-value);
  font-size: attr(data-value) !important;
}

.ql-container {
  font-size: 16px;
}

.post-content.ql-editor,
.page-content.ql-editor,
.recipe-description.ql-editor {
  height: auto;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  word-break: break-word;
}

.nuxt-progress {
  display: none !important;
}

html {
  // background: url(/img/peach.jpg) no-repeat center center fixed;
  //background: #ffb2a4;
  background-size: cover;
}

.title {
  font-weight: bold;
  font-size: 24px;
}

.cursor-draggable {
  cursor: grab;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.1s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.page-container {
  background: white;
}

.page-section.section {
  padding: 1.5rem 1.5rem;
}

.recipe-container {
  flex-shrink: 0;
  flex-basis: 25%;
  padding-right: 1em;
}

@media print {
  .navbar,
  .secondary-navbar {
    display: none;
  }
}

.navbar-item.has-dropdown:hover .navbar-dropdown {
  display: block;
}

.blog-page > .container > .flex {
  flex-direction: row;
}

.blog-page .picture-container {
  padding: 1.5em;
  flex-basis: 30%;
}

.page-section-blog {
  // padding-top: 2em;
  .flex-row {
    justify-content: center;
  }
}

.blog-post .post-image-container {
  padding: 1.5em;
}

.modal-content {
  max-width: 100%;
}

.field.is-grouped {
  flex-wrap: wrap;
}

.ad-space {
  .ad-picture {
    max-width: 100%;
  }

  .ad-picture-mobile {
    display: none;
  }
}

@media screen and (max-width: $tablet) {
  .ad-space {
    display: none;

    &.ad-mobile {
      display: block;

      &.ad-has-mobile-picture {
        .ad-picture {
          display: none;
        }
        .ad-picture-mobile {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: $desktop) {
  .modal-content {
    max-height: 100%;
    & > .box {
      border-radius: 0;
    }
  }
  .page-container .title {
    text-align: center;
  }

  .blog-page > .container > .flex {
    flex-direction: column;
  }

  .blog-page .picture-container {
    padding-left: 1em;
    padding-right: 1em;
    flex-basis: auto;
  }
  .blog-page .post-header {
    text-align: center;
  }
  .VueCarousel-pagination,
  .VueCarousel-navigation {
    display: none !important;
  }

  .main-page-section {
    padding: 0 !important;
  }

  .page-section .title {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

  .recipe-container {
    flex-basis: 50%;
    padding-right: 0.5em;
  }

  .navbar-item.has-dropdown.active .navbar-link::after {
    transform: rotate(-45deg) scaleX(-1) scaleY(-1);
  }

  .navbar-item.has-dropdown.active > .navbar-link {
    background: white;
    color: black;
  }

  .navbar-item.has-dropdown .navbar-dropdown {
    display: none;
    box-shadow: none;
  }

  .navbar-item.has-dropdown.active .navbar-dropdown {
    display: block;
  }
}

@media screen and (min-width: $desktop) and (min-height: 600px) {
  .navs {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
  }

  .main-layout > .is-fullheight {
    padding-top: 100px;
  }
}

.promo-box {
  background-size: 100% auto;
  background-size: cover;
  cursor: pointer;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;

  .promo-box-content {
    flex-grow: 0;
    color: white;
    padding-bottom: 2em;
    background-image: linear-gradient(rgba(34, 34, 34, 0), rgba(34, 34, 34, 0.9));

    .title {
      color: white;
      font-size: 24px;
    }

    .subtitle {
      color: white;
      font-size: 16px;
    }
  }

  &:hover .promo-box-content {
    background-image: linear-gradient(rgba(34, 34, 34, 0), rgba(99, 99, 99, 0.9));
  }
}

// Stupid Bulma
.tile.is-vertical > .tile.is-child:not(:last-child) {
  margin-bottom: 0 !important;
}

.tile.is-parent {
  padding: 0;
}

.tile.is-child {
  padding: 5px;
}

.tile iframe {
  width: 100%;
  height: 100%;
}

.youtube-embed {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.has-text-white {
  strong {
    color: white;
  }
}

.tag {
  margin-right: 0.5em;

  &.is-disabled {
    cursor: not-allowed;
  }
}

.notifications {
  position: fixed;
  z-index: 99;
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}

.vue-notification {
  margin: 0 5px 5px;
  cursor: pointer;
  animation: pop 0.3s linear 1;

  .notification-title {
    font-weight: bold;
  }
}
